<div style="display:flex;margin-bottom: 1rem;">
  <nb-select placeholder="Select a date" [(ngModel)]="selectedDate" (ngModelChange)="get_location($event)" 
  style="min-width: 250px;max-width: 350px;" >
    <nb-option 
    *ngFor="let date of date_markers; let i = index" [value]="i">
      {{date.subject}}
    </nb-option>
  </nb-select>

  <!-- <button (click)="changeValue()" nbButton>Button</button> -->
</div>
<agm-map 
  #AgmMap
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [fitBounds]="true"
  >
  <agm-marker-cluster  
    *ngFor="let markers of date_markers; let i = index"
    imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
  >
    <div *ngIf="selectedSubject == markers.subject">
      <agm-marker 
          *ngFor="let m of markers.logByDate; let i = index"
          [latitude]="m.location.lc_latitude"
          [longitude]="m.location.lc_longitude"
          [label]="m.subject"
          [markerDraggable]="m.draggable"
          [agmFitBounds] = "true"
          (dragEnd)="markerDragEnd(m, $event)">
          <agm-info-window>
              <div class="row">
                  <div class="col-md-7">
                    <img [src]="api + '/' + m.img" onError="this.src='./assets/images/no_image.jpeg';" class="img-responsive">
                  </div>
                  <div class="col-md-5">
                    <label class="label">Name</label>
                    <p class="text-break">{{ m.name }}</p>
                    <label class="label">Date</label>
                    <p class="text-break">{{ m.date }}</p>
                    <label class="label">Subject</label>
                    <p class="text-break">{{ m.subject }}</p>
                    <label class="label">Description</label>
                    <p class="text-break">{{ m.detail }}</p>
                    <label class="label">Google Map</label>
                    <a (click)="openLocation(m.location)" style="cursor: pointer;">
                      <p>
                        Link <nb-icon icon="external-link-outline"></nb-icon>
                      </p>  
                    </a>
                  </div>
              </div>
          </agm-info-window>
        
      </agm-marker>
    </div>
  </agm-marker-cluster>
</agm-map>