<div class="row">
  <div class="col-lg-12">
  <nb-card>
    <nb-card-header>
        User
    </nb-card-header>
    <nb-card-body>
        <!-- <nb-list>
          <nb-list-item *ngFor="let user of users; index as userId">
            <nb-user [name]="user.us_username" [title]="user.us_password" (click)="password_decode(user.us_password)">
            </nb-user>
          </nb-list-item>
        </nb-list> -->
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
        
          <input nbInput fieldSize="medium" placeholder="" [(ngModel)]="name" style="margin-right: 0.2rem;margin-top: 0.5rem">
          {{name}}
          <button nbButton (click)="get_name()"> test</button>
    </nb-card-body>
  </nb-card>
  </div>
</div>
