<div style="display:flex">
  <div>
    <input nbInput placeholder="Pick Date Range" 
    fieldSize="medium" 
    [nbDatepicker]="formpicker" 
    [(ngModel)]="ngModelDate"  
    (ngModelChange)="get_ci_log($event)"
    style="min-width: 250px;max-width: 350px;">
    <nb-rangepicker #formpicker ></nb-rangepicker>
  </div>
    

  <div style="margin-left:auto !important">
    <!-- <label class="search-label" for="search" style="text-align:right">Search</label> -->
    <input nbInput placeholder="Search" [nbFilterInput]="dataSource" id="search" class="search-input">
  </div>
</div>


    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{customColumn | titlecase}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <nb-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></nb-fs-icon>
          {{row.data[customColumn]}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column | titlecase}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
      </ng-container>

    </table>
