<div style="display: flex;align-items: center;">
  <div [routerLink]="['./']" class="title" style="flex:1 0 auto;">
    My Store
  </div>
  <!-- <button <button  nbButton size="small" style="float: right">
    Cart
  </button>  -->

  <div class="buttons">
      <button [routerLink]="['./cart']" nbButton ghost status="primary" style="margin:0;"><nb-icon icon="shopping-cart-outline"></nb-icon></button>
  </div>
</div>

  <!-- Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->