<head>
    <title></title>
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/fontawesome-free-5.6.3-web/css/all.min.css" />
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/global.css" />
    <link rel="stylesheet" href="assets/product.css" /> -->
  </head>

  <div class="row">
    <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-12 sidebar-container">
                <aside class="widget-area">
                 
                  <div class="widget">
                    <h4 class="widget-title">ค้นหาสินค้า</h4>
                    <div class="widget-content">
                      <div class="input-group mb-0">
                        <input nbInput type="text" class="form-control" [(ngModel)]='product'>
                        <div class="input-group-append">
                          <button nbButton primary class="btn btn_search_color" type="button" (click)='update()'>ค้นหา</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="widget">
                    <h4 class="widget-title">หมวดหมู่สินค้า</h4>
                    <div class="widget-content widget-nav">
                      <ul class="menu">
                        <li class="menu-item"><a class="cs-text-link selected" class="cs-text-link selected" [routerLink]="['/pages/sale']">ทั้งหมด</a></li>
                        <li class="menu-item main-accordionIcon">
                            <a class="cs-text-link" >เสื้อ</a>
                          <ul class="sub-menu">
                            <li>
                              <a class="cs-text-link" [routerLink]="['/pages/sale', 4]">- ผู้ชาย
                              </a>
                              <ul class="sub-menu">
                                <li>
                                  <a class="cs-text-link" [routerLink]="['/pages/sale', 9]">- ผู้หญิง
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li class="menu-item main-accordionIcon">
                          <a class="cs-text-link">กางเกง</a>
                          <ul class="sub-menu">
                            <li>
                              <a class="cs-text-link" [routerLink]="['/pages/sale', 5]">- ผู้ชาย
                              </a>
                              <ul class="sub-menu">
                                <li>
                                  <a class="cs-text-link" >- ผู้หญิง
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
      
                      </ul>
                    </div>
                  </div>
                  
                </aside>
              </div>
        
              <div class="col-lg-9">
                <div class="d-flex align-items-center mb-3">
                  <div class="d-inline-flex d-lg-none">
                    <div class="filter-trigger">
                      <i class="fas fa-filter mr-2"></i> <span>ตัวกรอง</span>
                    </div>
                  </div>
                  <div class="d-inline-flex ml-auto">
                    <select class="custom-select"  [(ngModel)]="sort"  (ngModelChange)="update($event)">
                      <option [value]="0">สินค้าจาก ก - ฮ</option>
                      <option [value]="1">สินค้าจาก ฮ - ก</option>
                      <option [value]="2">สินค้าเก่าสุด</option>
                      <option [value]="3" selected>สินค้าล่าสุด</option>
                      <option [value]="4">ราคา ต่ำ - สูง</option>
                      <option [value]="5">ราคา สูง - ต่ำ</option>
                    </select>
                  </div>
                </div>
        
                <div class="product-group row grid">
                  <div class="product-item col-lg-4 col-6" ngDefaultControl  *ngFor="let item of da | paginate: config">
                    <ng-container *ngIf="item">
                      <div class="product-card">
                        <div class="product-image horizontal">
                          <a class="inner">
                            <img src="{{item?.image}}">
                          </a>
                        </div>
                        <h2 class="product-title">
                          <a style="font-size: 16px;">{{item?.name}}</a>
                        </h2>
                        <div class="product-price">
                          <div>
                            <div class="price-sell"> 
                                {{item?.price}}  <span >บาท</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
        
                <div class="mb-5">
                  <!-- PAGINATION -->
                  <nav aria-label="Page navigation example">
                  <!-- <nav aria-label="Page navigation example" [(ngModel)]="page"  (ngModelChange)="update($event)"> -->
                    <pagination-controls (pageChange)="pageChange($event)" class="pagination"></pagination-controls>
                  </nav>
                  
                </div>
        
              </div>
        
            </div>
          
          </div>
          </div>
      </nb-card-body>
    </nb-card>
  </div>
  </div>
  