<agm-map 
  #AgmMap
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [fitBounds]="true"
  >
  <agm-marker-cluster  imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
    <agm-marker 
        (markerClick)="clickedMarker(m.label, i)"
        *ngFor="let m of markers; let i = index"
        [latitude]="m.location.lc_latitude"
        [longitude]="m.location.lc_longitude"
        [label]="m.ci_subject"
        [markerDraggable]="m.draggable"
        [agmFitBounds] = "true"
        (dragEnd)="markerDragEnd(m, $event)">
      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>
      
    </agm-marker>
  </agm-marker-cluster>
</agm-map>