<agm-map 
  #AgmMap
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [fitBounds]="true"
  >
  <agm-marker-cluster  imagePath="./assets/images/cluster-icon/m" 
  minimumClusterSize="3">
    <agm-marker 
        *ngFor="let m of markers; let i = index"
        [latitude]="m.location.lc_latitude"
        [longitude]="m.location.lc_longitude"
        [label]="m.ci_subject"
        [markerDraggable]="m.draggable"
        [agmFitBounds] = "true"
        (dragEnd)="markerDragEnd(m, $event)">
      <agm-info-window>
        <div class="row">
          <div class="col-md-7">
            <img [src]="api + '/' + m.ci_img_path"  onError="this.src='./assets/images/no_image.jpeg';" class="img-responsive">
          </div>
          <div class="col-md-5">
            <label class="label">Date</label>
            <p class="text-break">{{ m.ci_date }}</p>
            <label class="label">Subject</label>
            <p class="text-break">{{ m.ci_subject }}</p>
            <label class="label">Description</label>
            <p class="text-break">{{ m.ci_detail }}</p>
            <label class="label">Google Map</label>
            <a (click)="openLocation(m.location)" style="cursor: pointer;">
              <p>Link <nb-icon icon="external-link-outline"></nb-icon> </p>  
            </a>
          </div>
        </div>
        <!-- <strong>InfoWindow content</strong> -->
      </agm-info-window>
      
    </agm-marker>
  </agm-marker-cluster>
</agm-map>