@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    padding: 0;
  }

  .text-stroke {
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
  }

  // img{
  //   width:100%;
  //   height:auto;
  //   border-radius:7px;
  //   object-fit: cover;
  // }

  img.img-responsive {
      max-width: 100%;
      height: auto;
      border-radius:7px;
      object-fit: cover;
  }

  ::ng-deep agm-map {
    width: 100%;
    height: nb-theme(card-height-large);
        .agm-map-container-inner{
        border-radius: 10px;
    }
  }

}
